{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width, userscalable=no, initial-scale=1.0, maximumscale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
  content="ie=edge">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <title> </title>
</head>
 <body>
    <link rel="stylesheet" href="/static/main/css/index.css">
    <script>
        /*Так надо,не спрашивай, я просто тупой и так надо,просто смирись и прими это достойно,только не плачь*/
        var ChartsArray = [];
        var head = {{head|safe}};
        var labels = {{labels|safe}};
        var graph = {{graph}};

        var multiplier = 60; //множитель на задания пролетав между точками графиков

        var head_numb = {{head_numb|safe}};
        var numbs = {{numbs}};
        var metrics = {{metrics|safe}};

        themeName = localStorage.getItem('theme');
        document.documentElement.className = themeName;

    </script>


    <!--Выезжающее слева меню-->
    <aside id="sidenav-open">
        <nav>
            <button class="button-theme"></button>
            <details>
                <Summary class="text_">Внешний вид</Summary>
                <div class="data_div">

                </div>
            </details>
            <details>
                <Summary class="text_">Отображение</Summary>
                <div class="data_div_settings">
                    {% for form in forms %}
                    <details>
                        <Summary class="text_">{{ form.Name }}</Summary>
                            <form method="post" class="DataForm">
                                {% csrf_token %}
                                {{ form.Form.as_p }}
                                <button type="submit">Submit</button>
                            </form>
                    </details>
                    {% endfor %}
                </div>
            </details>
            <details>
                <Summary class="text_">Данные</Summary>

            </details>
            </details>

        </nav>
        <a href="#sidenav-open-close" id="sidenav-close" title="Close Menu" aria-label="Close Menu" ></a>
    </aside>

    <!--контейнер для отрисовки графика во весь экран-->
    <div class="statistic_full" id="statistic_full">
    </div>



    <main>
    <!--шапка с кнопкой и логином юзера-->
     <div class="header_">

        <a href="#sidenav-open" id="sidenav-button" class="hamburger" title="Open Menu" aria-label="Open Menu">
            <svg viewBox="0 0 50 40" role="presentation" focusable="false" aria-label="trigram for heaven symbol">
              <line x1="0" x2="100%" y1="10%" y2="10%" />
              <line x1="0" x2="100%" y1="50%" y2="50%" />
              <line x1="0" x2="100%" y1="90%" y2="90%" />
            </svg>
          </a>
            {% if request.user.is_authenticated %}
            <p class="username">{{user.username}}</p>
            {% endif %}

     </div>
     <div class="line"></div>

    <!--цикл для отрисовки контейнеров со средними значениями-->
     <div>
        {% for i in num_numbs %}
        {% if i|divisibleby:4 %}
        <div class="wrapper_div">
        {% endif %}
            <div class="data_div">
                <h1 id="hn{{ i }}" class="text_"></h1>
                <h1 id="nn{{ i }}" class="number_"></h1>
                <script>
                    var element = document.getElementById("hn{{ i }}");
                    var element1 = document.getElementById("nn{{ i }}");

                    var i = {{ i }};
                    element.textContent = head_numb[i];
                    element1.textContent = numbs[i]+ '' + metrics[i];
                </script>
            </div>

            {% if i|add:1|divisibleby:4  %}
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <!--Цикл для отрисовки контейнеров с графиками-->
            {% for i in num_graphs %}
            {% if i|divisibleby:3 %}
            <div class="wrapper_div">
                {% endif %}
                <div class="statistic_" id="ds{{ i }}">
                    <h1 id="h{{ i }}" class="text_"></h1>
                    <div class="scroll_div">
                        <div class="graph" id="d{{ i }}">
                            <canvas id="myChart{{ i }}"></canvas>
                            <script>
                                var element = document.getElementById("h{{ i }}");
                                //var length_{{ i }} = graph[i].length * multiplier;
                                var i = {{ i }};
                                console.log(graph[i].length)
                                element.textContent = head[i];
                                // Код Chart.js для создания графика
                                var ctx = document.getElementById('myChart{{ i }}').getContext('2d');
                                var myChart{{ i }};
                                if(graph[i].length > 9){
                                myChart{{ i }} = new Chart(ctx, {
                                    scaleOverride: true,

                                    type: 'line',
                                    data: {
                                        labels: labels[i],
                                        datasets: [{
                                            label: '',
                                            data: graph[i],

                                        }]
                                    },

                                    options: {
                                        responsive: true, maintainAspectRatio: false,
                                        width: graph[i].length * multiplier, height: 100,
                                        scales: {
                                            x: {
                                                ticks: {

                                                    color: getComputedStyle(document.documentElement).getPropertyValue('--text--'),
                                                },
                                                border: {
                                                    color: getComputedStyle(document.documentElement).getPropertyValue('--text--')
                                                },
                                                grid: {
                                                    color: getComputedStyle(document.documentElement).getPropertyValue('--text-2')
                                                }
                                            },
                                            y: {
                                                ticks: {
                                                    color: getComputedStyle(document.documentElement).getPropertyValue('--text--')
                                                },
                                                border: {
                                                    color: getComputedStyle(document.documentElement).getPropertyValue('--text--')
                                                },
                                                grid: {
                                                    color: getComputedStyle(document.documentElement).getPropertyValue('--text-2')
                                                },
                                                //suggestedMin: 15,
                                                //suggestedMax: 40
                                            }
                                        }
                                    },
                                });
                                }
                                else{
                                    myChart{{ i }} = new Chart(ctx, {

                                    type: 'line',
                                    data: {
                                        labels: labels[i],
                                        datasets: [{
                                            label: '',
                                            data: graph[i],

                                        }]
                                    },

                                    options: {

                                        scales: {
                                            x: {
                                                ticks: {

                                                    color: getComputedStyle(document.documentElement).getPropertyValue('--text--'),
                                                },
                                                border: {
                                                    color: getComputedStyle(document.documentElement).getPropertyValue('--text--')
                                                },
                                                grid: {
                                                    color: getComputedStyle(document.documentElement).getPropertyValue('--text-2')
                                                }
                                            },
                                            y: {
                                                ticks: {
                                                    color: getComputedStyle(document.documentElement).getPropertyValue('--text--')
                                                },
                                                border: {
                                                    color: getComputedStyle(document.documentElement).getPropertyValue('--text--')
                                                },
                                                grid: {
                                                    color: getComputedStyle(document.documentElement).getPropertyValue('--text-2')
                                                },
                                                //suggestedMin: 15,
                                                //suggestedMax: 40
                                            }
                                        }
                                    },
                                });
                                }
                                ChartsArray.push(myChart{{ i }})
                            </script>
                        </div>
                    </div>
                    <script>
                         if(graph[i].length > 9){
                            var div_graph_scroll = document.getElementById("d{{ i }}");
                            console.log(div_graph_scroll.width);

                            div_graph_scroll.setAttribute("style","width:"+graph[i].length * multiplier+ "px");
                         }
                         else{

                         }
                    </script>
                </div>
                {% if i|add:1|divisibleby:3  %}
                </div>
                {% endif %}
                {% endfor %}
            </div>


            <script src="{% static 'main/js/index.js' %}"></script>
    </main>
 </body>
</html>
